:root {
    --alias-body-lg-reg-font-family: "Lato-Regular", Helvetica;
    --alias-body-lg-reg-font-size: 16px;
    --alias-body-lg-reg-font-style: normal;
    --alias-body-lg-reg-font-weight: 400;
    --alias-body-lg-reg-letter-spacing: 0.32px;
    --alias-body-lg-reg-line-height: 150%;
    --alias-body-lg-semi-bold-font-family: "Lato-SemiBold", Helvetica;
    --alias-body-lg-semi-bold-font-size: 16px;
    --alias-body-lg-semi-bold-font-style: normal;
    --alias-body-lg-semi-bold-font-weight: 600;
    --alias-body-lg-semi-bold-letter-spacing: 0.32px;
    --alias-body-lg-semi-bold-line-height: 150%;
    --alias-body-md-bold-font-family: "Lato-Bold", Helvetica;
    --alias-body-md-bold-font-size: 14px;
    --alias-body-md-bold-font-style: normal;
    --alias-body-md-bold-font-weight: 700;
    --alias-body-md-bold-letter-spacing: 0.28px;
    --alias-body-md-bold-line-height: 114.99999761581421%;
    --alias-body-md-reg-caps-font-family: "Lato-Regular", Helvetica;
    --alias-body-md-reg-caps-font-size: 14px;
    --alias-body-md-reg-caps-font-style: normal;
    --alias-body-md-reg-caps-font-weight: 400;
    --alias-body-md-reg-caps-letter-spacing: 0.28px;
    --alias-body-md-reg-caps-line-height: 170.00000476837158%;
    --alias-body-md-reg-font-family: "Lato-Regular", Helvetica;
    --alias-body-md-reg-font-size: 14px;
    --alias-body-md-reg-font-style: normal;
    --alias-body-md-reg-font-weight: 400;
    --alias-body-md-reg-letter-spacing: 0.28px;
    --alias-body-md-reg-line-height: 170.00000476837158%;
    --alias-body-md-semi-bold-caps-font-family: "Lato-SemiBold", Helvetica;
    --alias-body-md-semi-bold-caps-font-size: 14px;
    --alias-body-md-semi-bold-caps-font-style: normal;
    --alias-body-md-semi-bold-caps-font-weight: 600;
    --alias-body-md-semi-bold-caps-letter-spacing: 0.28px;
    --alias-body-md-semi-bold-caps-line-height: 170.00000476837158%;
    --alias-body-md-semi-bold-font-family: "Lato-SemiBold", Helvetica;
    --alias-body-md-semi-bold-font-size: 14px;
    --alias-body-md-semi-bold-font-style: normal;
    --alias-body-md-semi-bold-font-weight: 600;
    --alias-body-md-semi-bold-letter-spacing: 0.28px;
    --alias-body-md-semi-bold-line-height: 170.00000476837158%;
    --alias-body-sm-reg-font-family: "Lato-Regular", Helvetica;
    --alias-body-sm-reg-font-size: 12px;
    --alias-body-sm-reg-font-style: normal;
    --alias-body-sm-reg-font-weight: 400;
    --alias-body-sm-reg-letter-spacing: 0.24px;
    --alias-body-sm-reg-line-height: 129.99999523162842%;
    --alias-body-sm-reg-underline-font-family: "Lato-Regular", Helvetica;
    --alias-body-sm-reg-underline-font-size: 12px;
    --alias-body-sm-reg-underline-font-style: normal;
    --alias-body-sm-reg-underline-font-weight: 400;
    --alias-body-sm-reg-underline-letter-spacing: 0.24px;
    --alias-body-sm-reg-underline-line-height: 129.99999523162842%;
    --alias-body-sm-semi-bold-font-family: "Lato-SemiBold", Helvetica;
    --alias-body-sm-semi-bold-font-size: 12px;
    --alias-body-sm-semi-bold-font-style: normal;
    --alias-body-sm-semi-bold-font-weight: 600;
    --alias-body-sm-semi-bold-letter-spacing: 0.24px;
    --alias-body-sm-semi-bold-line-height: 129.99999523162842%;
    --alias-body-xsm-semi-bold-font-family: "Lato-SemiBold", Helvetica;
    --alias-body-xsm-semi-bold-font-size: 10px;
    --alias-body-xsm-semi-bold-font-style: normal;
    --alias-body-xsm-semi-bold-font-weight: 600;
    --alias-body-xsm-semi-bold-letter-spacing: 0.2px;
    --alias-body-xsm-semi-bold-line-height: 120.00000476837158%;
    --alias-shadow-tight-low-emphasis: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    --alias-title-md-bold-font-family: "Lato-Bold", Helvetica;
    --alias-title-md-bold-font-size: 20px;
    --alias-title-md-bold-font-style: normal;
    --alias-title-md-bold-font-weight: 700;
    --alias-title-md-bold-letter-spacing: 0.4px;
    --alias-title-md-bold-line-height: 150%;
    --alias-title-sm-semi-bold-font-family: "Lato-SemiBold", Helvetica;
    --alias-title-sm-semi-bold-font-size: 16px;
    --alias-title-sm-semi-bold-font-style: normal;
    --alias-title-sm-semi-bold-font-weight: 600;
    --alias-title-sm-semi-bold-letter-spacing: 0.32px;
    --alias-title-sm-semi-bold-line-height: 150%;
    --aliascolorbgbrandprimary: rgba(39, 68, 218, 1);
    --aliascolorfgerrorsecondary: rgba(230, 59, 58, 1);
    --aliascolorfgmoderate: rgba(150, 150, 150, 1);
    --aliascolorfgprimary: rgba(63, 63, 63, 1);
    --aliascolorfgreversed: rgba(255, 255, 255, 1);
    --body-md-reg-font-family: "Lato-Regular", Helvetica;
    --body-md-reg-font-size: 14px;
    --body-md-reg-font-style: normal;
    --body-md-reg-font-weight: 400;
    --body-md-reg-letter-spacing: 0.28px;
    --body-md-reg-line-height: 20px;
    --comp-button-shadow: 0px 0px 0px 2px rgba(171, 196, 255, 1);
    --comp-control-text-focus: 0px 0px 0px 2px rgba(171, 196, 255, 1);
    --comp-controls-focus: 0px 0px 0px 2px rgba(171, 196, 255, 1);
    --comp-dropdown-list-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22);
    --comp-mini-calendar-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22);
    --comp-select-textbox-shadow: 0px 0px 0px 2px rgba(171, 196, 255, 1);
    --comp-textfield-textbox-shadow: 0px 0px 0px 2px rgba(171, 196, 255, 1);
    --comp-time-picker-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22);
    --compbuttonctaactivebg-color: rgba(33, 59, 192, 1);
    --compbuttonctadisabledbg-color: rgba(198, 215, 255, 1);
    --compbuttonctafocusbg-color: rgba(39, 68, 218, 1);
    --compbuttonctahoverbg-color: rgba(33, 59, 192, 1);
    --compbuttonctarestingbg-color: rgba(39, 68, 218, 1);
    --compbuttonctatext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativeactivebg-color: rgba(204, 53, 51, 1);
    --compbuttonnegativeactivetext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativedisabledbg-color: rgba(255, 179, 179, 1);
    --compbuttonnegativedisabledtext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativefocusbg-color: rgba(230, 59, 58, 1);
    --compbuttonnegativefocustext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativehoverbg-color: rgba(204, 53, 51, 1);
    --compbuttonnegativehovertext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativequietactivebg-color: rgba(204, 53, 51, 1);
    --compbuttonnegativequietactivetext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativequietdisabledbg-color: rgba(255, 179, 179, 1);
    --compbuttonnegativequietdisabledtext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativequietfocusbg-color: rgba(230, 59, 58, 1);
    --compbuttonnegativequietfocustext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativequiethoverbg-color: rgba(204, 53, 51, 1);
    --compbuttonnegativequiethovertext-color: rgba(255, 255, 255, 1);
    --compbuttonnegativequietrestingbg-color: rgba(255, 255, 255, 0.01);
    --compbuttonnegativequietrestingtext-color: rgba(230, 59, 58, 1);
    --compbuttonnegativerestingbg-color: rgba(230, 59, 58, 1);
    --compbuttonnegativerestingtext-color: rgba(255, 255, 255, 1);
    --compbuttonprimaryactivebg-color: rgba(235, 235, 235, 1);
    --compbuttonprimaryactivetext-color: rgba(31, 31, 31, 1);
    --compbuttonprimarydisabledbg-color: rgba(245, 245, 245, 1);
    --compbuttonprimarydisabledtext-color: rgba(180, 180, 180, 1);
    --compbuttonprimaryfocusbg-color: rgba(245, 245, 245, 1);
    --compbuttonprimaryfocustext-color: rgba(63, 63, 63, 1);
    --compbuttonprimaryhoverbg-color: rgba(235, 235, 235, 1);
    --compbuttonprimaryhovertext-color: rgba(31, 31, 31, 1);
    --compbuttonprimaryquietactivebg-color: rgba(235, 235, 235, 1);
    --compbuttonprimaryquietactivetext-color: rgba(31, 31, 31, 1);
    --compbuttonprimaryquietdisabledbg-color: rgba(245, 245, 245, 1);
    --compbuttonprimaryquietdisabledtext-color: rgba(180, 180, 180, 1);
    --compbuttonprimaryquietfocusbg-color: rgba(245, 245, 245, 1);
    --compbuttonprimaryquietfocustext-color: rgba(63, 63, 63, 1);
    --compbuttonprimaryquiethoverbg-color: rgba(235, 235, 235, 1);
    --compbuttonprimaryquiethovertext-color: rgba(31, 31, 31, 1);
    --compbuttonprimaryquietrestingbg-color: rgba(255, 255, 255, 0.01);
    --compbuttonprimaryquietrestingtext-color: rgba(63, 63, 63, 1);
    --compbuttonprimaryrestingbg-color: rgba(245, 245, 245, 1);
    --compbuttonprimaryrestingtext-color: rgba(63, 63, 63, 1);
    --compbuttonsecondaryactivebg-color: rgba(235, 235, 235, 1);
    --compbuttonsecondaryactiveborder-color: rgba(150, 150, 150, 1);
    --compbuttonsecondaryactivetext-color: rgba(31, 31, 31, 1);
    --compbuttonsecondarydisabledbg-color: rgba(255, 255, 255, 0.01);
    --compbuttonsecondarydisabledborder-color: rgba(180, 180, 180, 1);
    --compbuttonsecondarydisabledtext-color: rgba(180, 180, 180, 1);
    --compbuttonsecondaryfocusbg-color: rgba(255, 255, 255, 0.01);
    --compbuttonsecondaryfocusborder-color: rgba(150, 150, 150, 1);
    --compbuttonsecondaryfocustext-color: rgba(63, 63, 63, 1);
    --compbuttonsecondaryhoverbg-color: rgba(235, 235, 235, 1);
    --compbuttonsecondaryhoverborder-color: rgba(150, 150, 150, 1);
    --compbuttonsecondaryhovertext-color: rgba(31, 31, 31, 1);
    --compbuttonsecondaryrestingbg-color: rgba(255, 255, 255, 0.01);
    --compbuttonsecondaryrestingborder-color: rgba(150, 150, 150, 1);
    --compbuttonsecondaryrestingtext-color: rgba(63, 63, 63, 1);
    --compchips-inputbg-color: rgba(236, 242, 255, 1);
    --compchips-inputtext-color: rgba(63, 63, 63, 1);
    --compcontrol-textbg-color: rgba(255, 255, 255, 0.01);
    --compcontrolsselecteddisabledbg-color: rgba(198, 215, 255, 1);
    --compcontrolsselecteddisabledicon-color: rgba(255, 255, 255, 1);
    --compcontrolsselectedfocusbg-color: rgba(39, 68, 218, 1);
    --compcontrolsselectedfocusicon-color: rgba(255, 255, 255, 1);
    --compcontrolsselectedhoverbg-color: rgba(33, 59, 192, 1);
    --compcontrolsselectedhovericon-color: rgba(255, 255, 255, 1);
    --compcontrolsselectedrestingbg-color: rgba(39, 68, 218, 1);
    --compcontrolsselectedrestingicon-color: rgba(255, 255, 255, 1);
    --compcontrolsunselecteddisabledbg-color: rgba(235, 235, 235, 1);
    --compcontrolsunselecteddisabledborder-color: rgba(210, 210, 210, 1);
    --compcontrolsunselecteddisabledicon-color: rgba(210, 210, 210, 1);
    --compcontrolsunselectedfocusbg-color: rgba(255, 255, 255, 1);
    --compcontrolsunselectedfocusborder-color: rgba(150, 150, 150, 1);
    --compcontrolsunselectedhoverbg-color: rgba(255, 255, 255, 1);
    --compcontrolsunselectedhoverborder-color: rgba(39, 68, 218, 1);
    --compcontrolsunselectedrestingbg-color: rgba(255, 255, 255, 1);
    --compcontrolsunselectedrestingborder-color: rgba(150, 150, 150, 1);
    --compcontrolsunselectedrestingicon-color: rgba(150, 150, 150, 1);
    --compdropdown-listbg-color: rgba(255, 255, 255, 1);
    --complabeldark-regdisabledtext-color: rgba(180, 180, 180, 1);
    --complabeldark-regrestingtext-color: rgba(63, 63, 63, 1);
    --complabelmild-bolddisabledtext-color: rgba(180, 180, 180, 1);
    --complabelmild-boldrestingtext-color: rgba(105, 105, 105, 1);
    --complinkbranddisabledtext-color: rgba(198, 215, 255, 1);
    --complinkbrandrestingtext-color: rgba(39, 68, 218, 1);
    --complistitemdisabledtext-color: rgba(180, 180, 180, 1);
    --complistitemhoverbg-color: rgba(245, 245, 245, 1);
    --complistitemhovertext-color-main: rgba(31, 31, 31, 1);
    --complistitemhovertext-color-sub: rgba(105, 105, 105, 1);
    --complistitempressedbg-color: rgba(245, 245, 245, 1);
    --complistitempressedtext-color-main: rgba(63, 63, 63, 1);
    --complistitempressedtext-color-sub: rgba(105, 105, 105, 1);
    --complistitemrestingtext-color-main: rgba(63, 63, 63, 1);
    --complistitemrestingtext-color-sub: rgba(105, 105, 105, 1);
    --complistitemtext-color-section: rgba(150, 150, 150, 1);
    --compmini-calendarbg-color: rgba(255, 255, 255, 1);
    --compmini-calendarcellnext-prevtext-color: rgba(180, 180, 180, 1);
    --compmini-calendarcellrestingbg-color: rgba(249, 249, 249, 1);
    --compmini-calendarcellrestingtext-color: rgba(63, 63, 63, 1);
    --compmini-calendarcelltodayborder-color: rgba(39, 68, 218, 1);
    --compmini-calendarcelltodaytext-color: rgba(39, 68, 218, 1);
    --compmini-calendarfooterborder-color: rgba(235, 235, 235, 1);
    --comprequiredisabledtext-color: rgba(180, 180, 180, 1);
    --comprequireerrortext-color: rgba(230, 59, 58, 1);
    --comprequirerestingtext-color: rgba(105, 105, 105, 1);
    --compselecttextboxbg-color-default: rgba(255, 255, 255, 1);
    --compselecttextboxbg-color-disabled: rgba(245, 245, 245, 1);
    --compselecttextboxborder-color-active: rgba(39, 68, 218, 1);
    --compselecttextboxborder-color-default: rgba(210, 210, 210, 1);
    --compselecttextboxborder-color-error: rgba(230, 59, 58, 1);
    --compselecttextboxborder-color-hover: rgba(39, 68, 218, 1);
    --compselecttextboxtext-color-hypen: rgba(180, 180, 180, 1);
    --compselecttextboxtext-color-input: rgba(63, 63, 63, 1);
    --compselecttextboxtext-color-placeholder: rgba(180, 180, 180, 1);
    --comptextfieldtextboxbg-color-default: rgba(255, 255, 255, 1);
    --comptextfieldtextboxbg-color-disabled: rgba(245, 245, 245, 1);
    --comptextfieldtextboxborder-color-active: rgba(39, 68, 218, 1);
    --comptextfieldtextboxborder-color-default: rgba(210, 210, 210, 1);
    --comptextfieldtextboxborder-color-error: rgba(230, 59, 58, 1);
    --comptextfieldtextboxborder-color-hover: rgba(39, 68, 218, 1);
    --comptextfieldtextboxtext-color-input: rgba(63, 63, 63, 1);
    --comptextfieldtextboxtext-color-placeholder: rgba(180, 180, 180, 1);
    --comptime-pickeram-pm-selectam-pmrestingbg-color: rgba(245, 245, 245, 1);
    --comptime-pickeram-pm-selectam-pmrestingtext-color: rgba(63, 63, 63, 1);
    --comptime-pickerbg-color: rgba(255, 255, 255, 1);
    --comptime-pickertime-selecttimetext-color: rgba(63, 63, 63, 1);
    --neutral-600: rgba(42, 42, 42, 1);
    --SECTION-HEADING-font-family: "WorkSans-Bold", Helvetica;
    --SECTION-HEADING-font-size: 16px;
    --SECTION-HEADING-font-style: normal;
    --SECTION-HEADING-font-weight: 700;
    --SECTION-HEADING-letter-spacing: -0.32px;
    --SECTION-HEADING-line-height: normal;
    --tight-elevation-4: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
}
