@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding:2px;
    max-width: 800px;
    margin: auto;
    align-content: center;
    font-family: 'Lato', SansSerif, serif;

}
h1,h2,h3,h4,h5,h6{
    margin-top:24px;
}
label{
    font-size:16px !important;

      }
#given-name{
    display:flex;
    flex-direction:row;
}
#title{
    display: inline-flex;
    align-items: flex-start;
    width:auto;
    height:auto;

}
[type="text"]{
    width:auto;
    height:40px;
    padding:4px 4px 4px 6px;
}
[type="checkbox"]{
    padding:2px;
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    height:40px;
    width:157px;
    align-items: center;
    border: 1px solid lightgrey;

}
[type="date"]::-webkit-inner-spin-button {
    display: block;
    align-self: center;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
#DOB-Gender{
    display:inline-flex;

}
#address{
    display: flex;
    align-items: flex-start;

}
#state{
    display: flex;
    align-items: flex-start;
}

#work{

    display: flex;
    align-items: flex-start;
}
/*#email{*/

/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/
span{
    color:grey;
    font-size: 8px;
}
#course{
    display: flex;
    align-items: flex-start;
    gap:8px;
}
input[type="button"]{
    width:200px;
    height:30px;
    background-color: blue;
    color:white;
    padding:4px;
  }
#credit-transfer-note{
    height:60px;
    overflow:hidden;
    width:650px;
    white-space:normal;
    padding:4px;
}
.sigCanvas {
    border: 2px solid black;
}
    select{
        height:40px;
        border:1px solid lightgrey;
        background-color:white;
}