@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

h6{
    text-align: left;
}

label{
    padding-top:12px;
    font-size: 16px;
    font-family: 'Lato', SansSerif, serif;
}

.subheading{

    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', SansSerif, serif;
}
[type="email"] {
    width:300px;
    height:30px;
    border:1px solid lightgray;
}
[type="select"]{
    border: 2px solid lightgray;
    width:auto;
    height:auto;
    padding:24px;
}

[type="text"] {
    width:300px;
    height:30px;
    border:1px solid lightgray;
}
#home-work{
    display: inline-flex;
    align-items: flex-start;
    /*& input[type="text"] {*/
    /*    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;*/
    /*    height:30px;*/
    /*}*/
}
.mobile{
   display:block;
}

[aria-hidden="true"] {
    display: none;
}
#contact-method{
    display: inline-flex;
    gap:24px;

 }
input[type="checkbox"]~label{
    font-size:16px;
    font-family: 'Lato', SansSerif, serif;
}
input[type="checkbox"]{
   width:16px;
    height:16px;
    border-radius:4px;
    border: 1px solid lightgray;
}
input[type="radio"]{
    width:16px;
    height:16px;
    border-radius:4px;
    border: 1px solid lightgray;
}
#email-address{
    display:inline-flex;
}
#address{
    display:inline-flex;
}
#state-postcode{
    display: inline-flex;
}
.postal-residential {
    margin-top: 10px;
}
input[type="radio"]~label{

    font-size:16px;
}