@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*{
    font-family: 'Lato', SansSerif, serif;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
body{
    background-color: lightgray;
}
.top-nav {
    width: 98% !important;
    height: 80px;
    background-color: blue;
    h4{
        text-align: center;
        color:white;
        font-weight: bold;
        font-size:26px;
    }
}